#wpex_tetris_migration_widget .inside {
  margin: 0;
  padding: 0;
}

#wpex_tetris_migration_widget .inside #wpex-tetris-remote-readme {
  overflow: auto;
  max-height: 300px !important;
}

#wpex_tetris_migration_widget .inside .wpex-migration-section,
#wpex_tetris_migration_widget .inside #wpex-tetris-remote-readme {
  padding: 0px 15px 15px 15px;
}

#wpex_tetris_migration_widget .inside h1 {
  margin-bottom: 20px;
  border-bottom: 1px solid #c3c4c7
}

#wpex_tetris_migration_widget .inside .nav-tab-wrapper a {
  text-decoration: none !important;
}
